// colors
$accentColor =#00bcd4
$textColor = #424242
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$navTextColor = $borderColor
$navBackColor = $textColor
$navAccentColor = #98e7ff

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 950px
$homePageWidth = 1024px

// responsive breakpoints
$MQNarrow = 1023px
$MQMobile = 1023px
$MQMobileNarrow = 419px
